/* Mengatur tinggi carousel agar pas di layar */
/* Tinggi default untuk Mobile (HP) */
    .swiper { 
        width: 100%; 
        height: 300px; 
    }

    /* Tinggi untuk Desktop (Layar Lebar) */
    @media (min-width: 768px) {
        .swiper { 
            height: 500px; 
        }
    }

    .swiper-slide { 
        position: relative; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        overflow: hidden; 
    }

    .swiper-slide img { 
        position: absolute; 
        width: 100%; 
        height: 100%; 
        object-fit: cover; /* Penting: agar gambar tidak gepeng */
        z-index: -1; 
    }

    .overlay { 
        position: absolute; 
        inset: 0; 
        background: rgba(0,0,0,0.5); 
        z-index: 0; 
    }
html { 
    scroll-behavior: smooth; 
}
